@import "../assets/fonts/font.scss";

$black: #000000;
$white: #ffffff;

$primary-100: #f6e8e8;
$primary-200: #f4e8e8;
$primary-300: #E4C7C7;
$primary-400: #c58787;
$primary-500: #7C4D4D;
$primary-600: #5c2424;

$grey-100: #e2e2e2;
$grey-200: #d6d6d6;
$grey-300: #bfbfbf;
$grey-400: #b4b4b4;
$grey-500: #919191;
$grey-600: #6e6e6e;
$grey-700: #575757;
$grey-800: #575757;
$grey-900: #292929;

$AirBnBLight: "AirbnbCereal_W_Lt", Sans-Serif;
$AirBnBMedium: "AirbnbCereal_W_Md", Sans-Serif;
$AirBnBDark: "AirbnbCereal_W_XBd", Sans-Serif;

$smallText: 0.875rem;
$extraSmallText: 0.7em;

$borderRadius: 0.25rem;
$letterSpacing: 1px;
$transition: 0.3s ease-in-out all;

$maxWidth: 1250px;

$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);

@mixin media-md {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 954px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

