.tickets_header {
  margin-bottom: 2rem;
  font-family: $AirBnBLight;
  font-size: 1.3rem;
  // border-top: 1px solid $primary-300;
  padding-top: 1em;
}

.tickets_container {
  display: grid;
  gap: 2rem;

  .tickets_filter_form {
    display: grid;
    grid-template-columns: 1fr;

    @include media("<=tablet") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
    }
  }

  @include media(">=tablet") {
    grid-template-columns: 1fr auto;

    .tickets_filter {
      order: 2;
      min-width: 200px;
      //border: red solid 1px;

      .form_input {
        box-shadow: none;
        border: none;
        border-bottom: 1px solid $primary-300;
      }
    }
  }

  @include media(">=desktop") {
    .tickets_filter {
      min-width: 300px;
    }
  }
}
