.landing {
  overflow-x: hidden;
}

.intro {
  min-height: 50vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-bottom: 4rem;

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }

  &_img_filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
  }

  &_content {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    padding: 1.2em 0;
    max-width: $maxWidth;
    width: 90%;
  }

  &_header {
    color: white;
    max-width: 750px;
  }

  &_sub_header {
    font-size: 1.4rem;
    color: $primary-300;
    display: flex;
    align-items: center;
    opacity: 0;
    svg {
      margin-left: 16px;
      border: 2px solid $primary-300;
      // padding: 12px;
      height: 24px;
      width: 24px;
      border-radius: 100px;
      transition: $transition;
    }

    &:hover {
      color: $primary-400;
      cursor: pointer;

      svg {
        border: 2px solid $primary-400;
      }
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    z-index: 6;
    background-color: $primary-100;
  }
}

.intro_img_content {
  height: 100%;
  min-width: 100vw;
}

.horizontal_text {
  background-color: $primary-300;
  color: $primary-500;
  font-family: "Francois One", $AirBnBDark, "Roboto", "sans-serif";
  padding: 0.5em 1em;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  margin-bottom: 5rem;

  span {
    font-size: 3rem;
    text-transform: uppercase;
    inline-size: min-content;
    margin-right: 2em;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.recent {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 90%;
  h4 {
    margin-bottom: 4rem;
    font-family: $AirBnBLight;
    font-size: 1.3rem;
    border-top: 1px solid $primary-300;
    padding-top: 1em;
  }
}

.recent_events {
  display: grid;
  box-sizing: border-box;

  @include media(">tablet") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.category {
  max-width: $maxWidth;
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;

  h4 {
    margin-bottom: 4rem;
    font-family: $AirBnBLight;
    font-size: 1.3rem;
    border-top: 1px solid $primary-300;
    padding-top: 1em;
  }

  &_container {
    display: grid;

    @include media(">=tablet") {
      grid-template-columns: minmax(auto, 1fr) 1fr;
      gap: 3em;
    }
  }

  &_items {
    align-self: center;
  }

  &_list_item {
    position: relative;

    li {
      z-index: 3;
      position: relative;
    }
  }

  li,
  span {
    font-size: 2rem;
    margin-bottom: 1rem;
    list-style: circle;
    border-bottom: 1px solid $grey-200;
    padding-bottom: 0.85rem;
    width: 100%;
    color: $grey-300;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
    // white-space: nowrap;

    @include media(">=tablet") {
      font-size: 2.5rem;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    color: $primary-500;
  }

  .active {
    color: $primary-500;
  }

  &_img {
    display: none;
    justify-self: center;
    // clip-path: "polygon(0 0, 100% 0, 100% 0, 0 0)";
    // opacity: 0;

    img {
      max-height: 400px;
      box-shadow: $shadow-3;
    }

    @include media(">=tablet") {
      display: block;
      max-width: 550px;
    }
  }
}

.recommended {
  max-width: $maxWidth;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;

  h4 {
    margin-bottom: 4rem;
    font-family: $AirBnBLight;
    font-size: 1.3rem;
    border-top: 1px solid $primary-300;
    padding-top: 1em;
  }

  &_events {
    display: grid;
    transition: $transition;

    @include media(">=tablet") {
      grid-template-columns: repeat(3, 1fr);

      .span2 {
        grid-column: span 2;
        transition: $transition;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
}

.creator {
  max-width: $maxWidth;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid $primary-300;
  border-bottom: 2px solid $primary-300;
  margin-bottom: 2em;
  font-size: 2.5rem;
  padding: 1.5em 0;

  .btn {
    padding: 1em;
  }

  p {
    max-width: 600px;
    font-size: $AirBnBMedium;
  }

  @include media(">=tablet") {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2.5rem;
  }
}

.footer {
  border-top: 1px solid $primary-300;
  font-size: 1.5rem;
  font-family: "Francois One";
  background-color: $primary-500;
  padding: 0.5rem;

  &_container {
    background-color: $primary-100;
    max-width: $maxWidth;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
    gap: 2em;
    overflow: hidden;
  }
}
