.single_ticketPg {
  &_actions {
    display: flex;
    font-size: $smallText;
    gap: 1rem;
    align-items: center;

    &_edit {
      background-color: $green-light;
      color: $green-dark;
    }

    &_delete {
      background-color: $red-light;
      color: $red-dark;
    }

    p {
      box-shadow: $shadow-2;
      padding: 0.5em 2em;
      margin: 0;
      font-weight: bolder;
      cursor: pointer;
    }
  }

  &_header {
    border-bottom: 1px solid $primary-300;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &_header,
  &_content {
    @include media(">=tablet") {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1.5rem;
    }
  }

  &_title {
    margin-bottom: 0.75rem;
    color: $grey-900;
    font-family: $AirBnBLight;
  }

  &_date {
    font-family: "Francois One";
    color: $primary-400;
  }

  &_venue {
    max-width: 300px;
  }

  &_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    width: 300px;
    gap: 0.5rem;
    padding: 0.75em;
    border-radius: $borderRadius;

    &_action {
      background-color: $primary-300;
      width: 100%;
      text-align: center;
      padding: 0.6rem;
      font-weight: bold;
      color: $primary-600;
      cursor: pointer;
    }
  }

  &_subTitle {
    font-size: $smallText;
    color: $grey-500;
    font-family: "Francois One", $AirBnBLight;
    margin-bottom: 1rem;
  }

  &_imgDiv {
    width: 100%;
    height: 50vh;
    margin-bottom: 7em;

    img {
      height: 100%;
    }
  }

  &_recent,
  &_creator {
    width: 100%;

    .recent {
      width: 100%;
    }
  }

  &_recent {
    margin-bottom: 5rem;

    h4 {
      margin-bottom: 1.2rem;
      font-size: 1.1rem;
    }
  }
}

.qty_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
  }

  &_content {
    position: relative;
    z-index: 5;
    background-color: $primary-100;
    width: 90%;
    max-width: fit-content;
    text-align: center;
    padding: 2em;
    box-shadow: $shadow-3;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      border-bottom: 1px solid $primary-300;
      width: 100%;
      padding-bottom: 0.4em;
    }

    &_subtitle {
      max-width: 400px;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form_row {
      width: stretch;
    }

    .go_back {
      background-color: transparent;
    }
  }
}
