.nav {
  height: 10vh;
  position: relative;
  border-bottom: 1px solid $primary-300;
  box-shadow: $shadow-2;

  &_container {
    max-width: $maxWidth;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    span {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
      color: #211a93;
      text-decoration: none;
      font-weight: 700;
      font-family: $AirBnBDark;
    }
  }

  &_profile {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: $AirBnBDark;
    background-color: $primary-600;
    color: $white;
    border-radius: 50%;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  &_items {
    display: flex;
    gap: 1.5em;
    font-size: $smallText;
    align-items: center;

    p {
      margin: 0;
    }

    &_search {
      display: flex;
      align-items: center;

      .search_icon {
        background-color: $primary-300;
        height: 30px;
        font-size: 1.3rem;
        cursor: pointer;
        color: $primary-100;
        // font-size: 40px;
      }
    }

    @include media("<=tablet") {
      display: none;
    }
  }

  &_menu {
    position: absolute;
    z-index: 5;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: $transition;
    display: block;

    &_list {
      position: absolute;
      top: 4vh;
      right: 0;
      width: 50vw;
      border: $primary-200 solid 1px;
      background-color: $primary-300;
      z-index: 5;
      text-align: center;
      box-shadow: $shadow-3;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      p {
        margin: 0;
        padding: 1em 0;
        border-bottom: $primary-200 solid 1px;
        color: $primary-600;
      }
    }

    @include media(">tablet") {
      display: none;
    }

    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: $primary-500;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $primary-500;
        transition: $transition;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: $primary-500;
        transition: $transition;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }
}

.nav_form_input {
  height: 30px;
}

.user_icon {
  position: relative;

  &_options {
    position: absolute;
    top: 2.3em;
    right: 0;
    border: 1px solid $primary-300;
    z-index: 5;
    width: 150px;
    text-align: center;
    background-color: #fcf4f4;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;

    p {
      font-size: $extraSmallText;
      white-space: nowrap;
      margin-bottom: 0em;
      padding: 0.5em 1em;
      border-bottom: 1px solid $primary-200;
      cursor: pointer;
    }

    .dropdown_name {
      background-color: $primary-100;
      width: 100%;
      position: relative;
      overflow: hidden;
      z-index: 6;
      // max-width: 140px;
    }
  }
}
