.single_ticket {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  background-color: #fcf4f4;
  padding: 1.2em 0.95em;
  box-shadow: $shadow-1;
  margin-bottom: 1.3rem;

  h5 {
    font-family: $AirBnBMedium;
    font-weight: bold;
    font-size: 1.35rem;
    margin-bottom: 0.65rem;
    color: $primary-500;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  //   p {
  //     margin: 0.35rem;
  //   }

  &_date {
    font-size: $smallText;
    color: $primary-500;
    font-weight: bold;
  }

  &_venue {
    margin-bottom: 0.5rem;
  }

  &_price {
    font-size: $smallText;
    color: $grey-500;
    margin-bottom: 1rem;
  }

  &_moderator {
    font-family: "Francois One";
    color: $grey-900;
  }

  &_addFav,
  &_removeFav {
    margin-bottom: 1.5em;
    font-size: $smallText;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid;
    width: fit-content;
    border-radius: 15px;
    padding: 0.2rem 0.5rem;
  }

  &_fav_icon {
    margin-left: 0.45em;
  }

  &_addFav {
    color: $green-dark;
  }

  &_removeFav {
    color: $red-dark;
  }

  &_imgDiv {
    height: inherit;
    // max-height: 200px;
    max-width: 200px;
    justify-content: flex-end;
    align-self: stretch;
    margin-left: auto;

    img {
      height: 100%;
    }
  }

  @include media("<=miniDesktop") {
    &_imgDiv {
      display: none;
    }
  }
}
