.single_recent_event {
  min-height: 300px;
  height: 100%;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: end;

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: inherit;
    width: 100%;

    img {
      height: 100%;
    }
  }

  &_content {
    position: relative;
    z-index: 3;
    padding: 0rem 1rem;
  }

  &_title {
    color: $white;
    margin: 0;
    font-family: $AirBnBLight;
    margin-bottom: 1em;
    transition: $transition;
  }

  &_date {
    color: $grey-300;
  }

  &_action {
    color: $primary-300;
    display: flex;
    align-items: center;

    svg {
      margin-left: 1rem;
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.55);
  }

  .overlay_dark {
    background-color: rgba(0, 0, 0, 0.85);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.extra_content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
